name: Release superfile

on:
  push:
    tags:
      - '*'

jobs:
  superfile:
    runs-on: ubuntu-20.04
    steps:
    - id: changelog
      uses: zhaojh329/auto-changelog@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - id: checkout
      uses: actions/checkout@v2
    - name: Download lua
      uses: leafo/gh-actions-lua@v8.0.0
      with:
        luaVersion: "5.3.5"
    - id: superfile
      run: |
        cd luapack
        lua main.lua ../addons/igs-core/lua superfile.txt
    - id: release
      uses: softprops/action-gh-release@v1
      with:
        body: ${{steps.changelog.outputs.changelog}}
        draft: true
        prerelease: false
        files: luapack/superfile.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
